body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'League Spartan', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

                    /* For Desktop */

@media screen and (min-width: 1440px) {
    main {
        margin:0;
        padding:0;
        width: 98vw;
        display: grid;
        grid-template-columns: auto auto;
    }    
}

/************************* RECLAMA **************************/

.reclama {
    text-align: center;
    width: 17.86rem;
    margin-top:2.5rem;
}

h1 {
    color: hsl(300, 43%, 22%);
}

.reclama p {
    color:hsl(303, 10%, 53%);
    width: 18.5rem;
    line-height: 1.5;
} 

                    /* For Desktop */

@media screen and (min-width: 1440px) {
    .reclama {
        margin: 0;
        height: 50vh;
        width: 50vw;
        display:flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
    }    

    h1 {
        margin: 5rem 0 1rem 0;
        padding-right: 7rem;
        font-size: 4rem;
        width: 28rem;
        text-align: start;
    }

    .reclama p {
        font-size: 1.5rem;
        width: 35rem;
        text-align: start
    }
}


/************************* RATING **************************/

.rating-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.rating {
    background-color: hsl(300, 24%, 96%);
    margin: 0.5rem 0;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
    width: 18.5rem;
    
}

h2 {
    font-size: 18px;
}

                   /* For Desktop */

@media screen and (min-width: 1440px) {

    .rating-container {
        margin-top: 5rem;
    }

    .rating {
        width: 30rem;
        margin-right:9.5rem;
        padding: 0.5rem 3rem;
        flex-direction:row;
        justify-content: space-around;
        align-items: baseline;
        
    }

    .stars {
        width: 7rem;
        align-items: center;
        font-size: 1.5rem;
    }

    .second {
        margin-left: 5rem;
    }

    .third {
        margin-left: 10rem;
    }

    h2 {
        font-size: 1.5rem;
    }
}

/************************* REVIEWS **************************/

.review {
    background-color: hsl(300, 43%, 22%);
    width: 18.5rem;
    border-radius: 10px;
}

.user {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top:1.5rem;
    
}

.profile-img {
    border-radius: 100%;
    width: 2.5rem;
    height: 2.5rem;
    margin-left: 2rem;
}

.user-detail {
    margin-left: 1.5rem;
    
}

h3 {
    margin-bottom: 0;
    color: white;
    font-size: 17px;
}

.user-detail p {
    margin-top: 0.3rem;
    color: hsl(333, 80%, 67%);
}

.comment p {
    margin-left: 1.5rem;
    padding-bottom: 1.8rem;
    color: white;
    width: 15rem;
    font-size: 15px;
}

                   /* For Desktop */

@media screen and (min-width: 1440px) {
    
    .reviews {
        grid-column: 1 / 3; 
        display:flex;
        justify-content: center;
        margin-top: 3rem;
    }

    .review-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100rem;
    }

    .review {
       width: 30rem;
       height: 18rem;
    }

    .irene {
        margin-top: 2rem;
    }

    .anne {
        margin-top: 4rem;
    }

    .user {
        margin-left: 1.5rem;
    }

    .profile-img {
        width: 3.5rem;
        height: 3.5rem;
      
    }
    .comment p {
        margin: 0 0 1.5rem 2.2rem;
        width: 22rem;
        font-size: 1.37rem;
        line-height: 1.5;
    }

    h3 {
        font-size: 1.5rem;
    }

}

/************************* FOOTER **************************/

footer {
    margin-top: 2rem;
}